## We will remove rows which have many missing values.

In [1]:
import missingno as msno
import pandas as pd

In [2]:
df = pd.read_csv("NFL Play by Play 2009-2016 (v3).csv") #data src: https://www.kaggle.com/code/rtatman/data-cleaning-challenge-handling-missing-values/input?select=NFL+Play+by+Play+2009-2016+%28v3%29.csvdf
df

C:\Users\Meet Patel\AppData\Local\Temp\ipykernel_8112\2648580269.py:1: DtypeWarning: Columns (25,51) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("NFL Play by Play 2009-2016 (v3).csv") #data src: https://www.kaggle.com/code/rtatman/data-cleaning-challenge-handling-missing-values/input?select=NFL+Play+by+Play+2009-2016+%28v3%29.csvdf

,Date,GameID,Drive,qtr,down,time,TimeUnder,TimeSecs,PlayTimeDiff,SideofField,...,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season
0,2009-09-10,2009091000,1,1,NaN,15:00,15,3600.0,0.0,TEN,...,NaN,0.485675,0.514325,0.546433,0.453567,0.485675,0.060758,NaN,NaN,2009
1,2009-09-10,2009091000,1,1,1.0,14:53,15,3593.0,7.0,PIT,...,1.146076,0.546433,0.453567,0.551088,0.448912,0.546433,0.004655,-0.032244,0.036899,2009
2,2009-09-10,2009091000,1,1,2.0,14:16,15,3556.0,37.0,PIT,...,NaN,0.551088,0.448912,0.510793,0.489207,0.551088,-0.040295,NaN,NaN,2009
3,2009-09-10,2009091000,1,1,3.0,13:35,14,3515.0,41.0,PIT,...,-5.031425,0.510793,0.489207,0.461217,0.538783,0.510793,-0.049576,0.106663,-0.156239,2009
4,2009-09-10,2009091000,1,1,4.0,13:27,14,3507.0,8.0,PIT,...,NaN,0.461217,0.538783,0.558929,0.441071,0.461217,0.097712,NaN,NaN,2009
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
362442,2017-01-01,2017010102,20,4,1.0,00:22,1,22.0,6.0,GB,...,0.000000,0.051901,0.948099,0.093435,0.906565,0.051901,0.041534,0.041534,0.000000,2016
362443,2017-01-01,2017010102,20,4,NaN,00:13,1,13.0,9.0,GB,...,NaN,0.093435,0.906565,0.034069,0.965931,0.093435,-0.059366,NaN,NaN,2016
362444,2017-01-01,2017010102,21,4,NaN,00:13,1,13.0,0.0,DET,...,NaN,0.034069,0.965931,0.035708,0.964292,0.965931,-0.001639,NaN,NaN,2016
362445,2017-01-01,2017010102,21,4,1.0,00:12,1,12.0,1.0,DET,...,NaN,0.035708,0.964292,0.000000,1.000000,0.964292,0.035708,NaN,NaN,2016
362446,2017-01-01,2017010102,21,4,NaN,00:00,0,0.0,12.0,DET,...,NaN,0.000000,1.000000,0.000000,1.000000,0.934245,0.000000,NaN,NaN,2016

In [ ]:
#Method - 2 - To analysis missing data

msno.matrix(df) #difference between above bar graph and this matrix plot is, Matrix Plot has benefit that you can view how that missing data is distributed in the dataframe.
#each and every line represent a column, grey part represent as data and white part represent as missing data 
#we can see that some columns have just few data and some have not that much too. (we will definitely remove that all columns.)
#we can't see column name at their represented line in below graph, Coz if dataset have 50 columns than only msno matrix can show column names.(here 120 column, so we will divide dataset with respect to 'columns')


#-----IMPORTANT-----
# On the right side of the plot is a sparkline that ranges from 0 on the left to the total number of columns in the dataframe on the right.
# When a row has a value in each column, the line will be at the maximum right position. As missing values start to increase within that row the line will move towards the left.
# Look at here, 88 means, a row contains 88 values which is highest among all rows and a row is here which have 43 values which is lowest among all rows.

In [ ]:
df1 = df.iloc[:,:50]
df1

In [ ]:
msno.matrix(df1) #Look at here at sparkline, 44 means, a row contains 44 values which is highest among all rows and a row is here which have 26 values which is lowest among all rows.

#sparkline values are changed, because we made matrix for 102 columns and now it's for 50 columns

In [ ]:
df2 = df.iloc[:,50:100]
df2

In [ ]:
msno.matrix(df2)

In [ ]:
df3 = df.iloc[:,100:150] #it will show only 2 columns, Because total 102 columns are there in Dataframe.
df3

In [ ]:
msno.matrix(df3) #And we will remove columns from dataframe 'df' but we keep df1, df2, df3 as it is because they are for just analytic purpose.

In [ ]:
df.isnull().