In [66]:
import missingno as msno
import pandas as pd

In [67]:
df = pd.read_csv("MissingMigrantsProject.csv", encoding='latin-1') #data src: https://www.kaggle.com/datasets/jmataya/missingmigrants
df

,id,cause_of_death,region_origin,affected_nationality,missing,dead,incident_region,date,source,reliability,lat,lon
0,1,Presumed drowning,Middle East,Iraq,1.0,1.0,Mediterranean,05/11/2015,IOM Greece,Verified,36.891500,27.287700
1,3,Fell from train,Central America & Mexico,Honduras,NaN,1.0,Central America incl. Mexico,03/11/2015,La Jornada,Partially Verified,15.956400,-93.663100
2,4,Presumed drowning,Middle East,NaN,NaN,1.0,Mediterranean,03/11/2015,Hellenic Coast Guard,Verified,36.504390,27.363253
3,6,Drowning,MENA,NaN,6.0,4.0,Mediterranean,01/11/2015,Reuters,Partially Verified,37.285600,27.086600
4,7,Vehicle accident,South East Asia,Cambodia,NaN,4.0,Southeast Asia,01/11/2015,Phnom Penh Post,Partially Verified,13.361100,100.985000
...,...,...,...,...,...,...,...,...,...,...,...,...
2415,184746,Drowning,Central America & Mexico,NaN,NaN,1.0,U.S./Mexico Border,20/05/2017,Líder Informativo,Partially Verified,27.455267,-99.493386
2416,184747,Train accident,Central America & Mexico,Honduras,NaN,1.0,U.S./Mexico Border,26/05/2017,netnoticias.mx,Partially Verified,28.712901,-100.497975
2417,184748,NaN,Central America & Mexico,Honduras,NaN,1.0,U.S./Mexico Border,27/05/2017,Águilas del Desierto,Partially Verified,32.304420,-112.904651
2418,184749,Train accident,Central America & Mexico,NaN,NaN,1.0,Central America incl. Mexico,29/05/2017,Zócalo,Partially Verified,26.777611,-101.429548
2419,184750,Dehydration,Sub-Saharan Africa,"Ghana, Nigeria",NaN,44.0,North Africa,31/05/2017,IOM Niger,Verified,18.917266,12.477509

In [68]:
df.isna().sum()

id                         0
cause_of_death           203
region_origin            443
affected_nationality    1575
missing                 2149
dead                     102
incident_region           10
date                       9
source                     7
reliability              324
lat                        4
lon                        4
dtype: int64

In [69]:
df.iloc[:30,:]['missing']

0      1.0
1      NaN
2      NaN
3      6.0
4      NaN
5      NaN
6      NaN
7      NaN
8      0.0
9      NaN
10     NaN
11     7.0
12     NaN
13     NaN
14     NaN
15     NaN
16     NaN
17     NaN
18    32.0
19     4.0
20     2.0
21     NaN
22     NaN
23     NaN
24     NaN
25     1.0
26     NaN
27     NaN
28     NaN
29     NaN
Name: missing, dtype: float64

In [70]:
df.ffill(axis = 0)

,id,cause_of_death,region_origin,affected_nationality,missing,dead,incident_region,date,source,reliability,lat,lon
0,1,Presumed drowning,Middle East,Iraq,1.0,1.0,Mediterranean,05/11/2015,IOM Greece,Verified,36.891500,27.287700
1,3,Fell from train,Central America & Mexico,Honduras,1.0,1.0,Central America incl. Mexico,03/11/2015,La Jornada,Partially Verified,15.956400,-93.663100
2,4,Presumed drowning,Middle East,Honduras,1.0,1.0,Mediterranean,03/11/2015,Hellenic Coast Guard,Verified,36.504390,27.363253
3,6,Drowning,MENA,Honduras,6.0,4.0,Mediterranean,01/11/2015,Reuters,Partially Verified,37.285600,27.086600
4,7,Vehicle accident,South East Asia,Cambodia,6.0,4.0,Southeast Asia,01/11/2015,Phnom Penh Post,Partially Verified,13.361100,100.985000
...,...,...,...,...,...,...,...,...,...,...,...,...
2415,184746,Drowning,Central America & Mexico,Guatemala,82.0,1.0,U.S./Mexico Border,20/05/2017,Líder Informativo,Partially Verified,27.455267,-99.493386
2416,184747,Train accident,Central America & Mexico,Honduras,82.0,1.0,U.S./Mexico Border,26/05/2017,netnoticias.mx,Partially Verified,28.712901,-100.497975
2417,184748,Train accident,Central America & Mexico,Honduras,82.0,1.0,U.S./Mexico Border,27/05/2017,Águilas del Desierto,Partially Verified,32.304420,-112.904651
2418,184749,Train accident,Central America & Mexico,Honduras,82.0,1.0,Central America incl. Mexico,29/05/2017,Zócalo,Partially Verified,26.777611,-101.429548
2419,184750,Dehydration,Sub-Saharan Africa,"Ghana, Nigeria",82.0,44.0,North Africa,31/05/2017,IOM Niger,Verified,18.917266,12.477509

In [71]:
df.iloc[:30,:]['missing']

0      1.0
1      NaN
2      NaN
3      6.0
4      NaN
5      NaN
6      NaN
7      NaN
8      0.0
9      NaN
10     NaN
11     7.0
12     NaN
13     NaN
14     NaN
15     NaN
16     NaN
17     NaN
18    32.0
19     4.0
20     2.0
21     NaN
22     NaN
23     NaN
24     NaN
25     1.0
26     NaN
27     NaN
28     NaN
29     NaN
Name: missing, dtype: float64

In [72]:
df.isna().sum()

id                         0
cause_of_death           203
region_origin            443
affected_nationality    1575
missing                 2149
dead                     102
incident_region           10
date                       9
source                     7
reliability              324
lat                        4
lon                        4
dtype: int64

In [73]:
df = pd.read_csv("MissingMigrantsProject.csv", encoding='latin-1') #data src: https://www.kaggle.com/datasets/jmataya/missingmigrants
df

,id,cause_of_death,region_origin,affected_nationality,missing,dead,incident_region,date,source,reliability,lat,lon
0,1,Presumed drowning,Middle East,Iraq,1.0,1.0,Mediterranean,05/11/2015,IOM Greece,Verified,36.891500,27.287700
1,3,Fell from train,Central America & Mexico,Honduras,NaN,1.0,Central America incl. Mexico,03/11/2015,La Jornada,Partially Verified,15.956400,-93.663100
2,4,Presumed drowning,Middle East,NaN,NaN,1.0,Mediterranean,03/11/2015,Hellenic Coast Guard,Verified,36.504390,27.363253
3,6,Drowning,MENA,NaN,6.0,4.0,Mediterranean,01/11/2015,Reuters,Partially Verified,37.285600,27.086600
4,7,Vehicle accident,South East Asia,Cambodia,NaN,4.0,Southeast Asia,01/11/2015,Phnom Penh Post,Partially Verified,13.361100,100.985000
...,...,...,...,...,...,...,...,...,...,...,...,...
2415,184746,Drowning,Central America & Mexico,NaN,NaN,1.0,U.S./Mexico Border,20/05/2017,Líder Informativo,Partially Verified,27.455267,-99.493386
2416,184747,Train accident,Central America & Mexico,Honduras,NaN,1.0,U.S./Mexico Border,26/05/2017,netnoticias.mx,Partially Verified,28.712901,-100.497975
2417,184748,NaN,Central America & Mexico,Honduras,NaN,1.0,U.S./Mexico Border,27/05/2017,Águilas del Desierto,Partially Verified,32.304420,-112.904651
2418,184749,Train accident,Central America & Mexico,NaN,NaN,1.0,Central America incl. Mexico,29/05/2017,Zócalo,Partially Verified,26.777611,-101.429548
2419,184750,Dehydration,Sub-Saharan Africa,"Ghana, Nigeria",NaN,44.0,North Africa,31/05/2017,IOM Niger,Verified,18.917266,12.477509

In [75]:
df = df.ffill(axis = 1)

In [77]:
df

,id,cause_of_death,region_origin,affected_nationality,missing,dead,incident_region,date,source,reliability,lat,lon
0,1,Presumed drowning,Middle East,Iraq,1.0,1.0,Mediterranean,05/11/2015,IOM Greece,Verified,36.8915,27.2877
1,3,Fell from train,Central America & Mexico,Honduras,Honduras,1.0,Central America incl. Mexico,03/11/2015,La Jornada,Partially Verified,15.9564,-93.6631
2,4,Presumed drowning,Middle East,Middle East,Middle East,1.0,Mediterranean,03/11/2015,Hellenic Coast Guard,Verified,36.50439,27.363253
3,6,Drowning,MENA,MENA,6.0,4.0,Mediterranean,01/11/2015,Reuters,Partially Verified,37.2856,27.0866
4,7,Vehicle accident,South East Asia,Cambodia,Cambodia,4.0,Southeast Asia,01/11/2015,Phnom Penh Post,Partially Verified,13.3611,100.985
...,...,...,...,...,...,...,...,...,...,...,...,...
2415,184746,Drowning,Central America & Mexico,Central America & Mexico,Central America & Mexico,1.0,U.S./Mexico Border,20/05/2017,Líder Informativo,Partially Verified,27.455267,-99.493386
2416,184747,Train accident,Central America & Mexico,Honduras,Honduras,1.0,U.S./Mexico Border,26/05/2017,netnoticias.mx,Partially Verified,28.712901,-100.497975
2417,184748,184748,Central America & Mexico,Honduras,Honduras,1.0,U.S./Mexico Border,27/05/2017,Águilas del Desierto,Partially Verified,32.30442,-112.904651
2418,184749,Train accident,Central America & Mexico,Central America & Mexico,Central America & Mexico,1.0,Central America incl. Mexico,29/05/2017,Zócalo,Partially Verified,26.777611,-101.429548
2419,184750,Dehydration,Sub-Saharan Africa,"Ghana, Nigeria","Ghana, Nigeria",44.0,North Africa,31/05/2017,IOM Niger,Verified,18.917266,12.477509

In [31]:
df.isna().sum()

id                      0
cause_of_death          0
region_origin           0
affected_nationality    0
missing                 0
dead                    0
incident_region         0
date                    0
source                  0
reliability             0
lat                     0
lon                     0
dtype: int64

In [36]:
df = pd.read_csv("MissingMigrantsProject.csv", encoding='latin-1') #data src: https://www.kaggle.com/datasets/jmataya/missingmigrants
df

,id,cause_of_death,region_origin,affected_nationality,missing,dead,incident_region,date,source,reliability,lat,lon
0,1,Presumed drowning,Middle East,Iraq,1.0,1.0,Mediterranean,05/11/2015,IOM Greece,Verified,36.891500,27.287700
1,3,Fell from train,Central America & Mexico,Honduras,NaN,1.0,Central America incl. Mexico,03/11/2015,La Jornada,Partially Verified,15.956400,-93.663100
2,4,Presumed drowning,Middle East,NaN,NaN,1.0,Mediterranean,03/11/2015,Hellenic Coast Guard,Verified,36.504390,27.363253
3,6,Drowning,MENA,NaN,6.0,4.0,Mediterranean,01/11/2015,Reuters,Partially Verified,37.285600,27.086600
4,7,Vehicle accident,South East Asia,Cambodia,NaN,4.0,Southeast Asia,01/11/2015,Phnom Penh Post,Partially Verified,13.361100,100.985000
...,...,...,...,...,...,...,...,...,...,...,...,...
2415,184746,Drowning,Central America & Mexico,NaN,NaN,1.0,U.S./Mexico Border,20/05/2017,Líder Informativo,Partially Verified,27.455267,-99.493386
2416,184747,Train accident,Central America & Mexico,Honduras,NaN,1.0,U.S./Mexico Border,26/05/2017,netnoticias.mx,Partially Verified,28.712901,-100.497975
2417,184748,NaN,Central America & Mexico,Honduras,NaN,1.0,U.S./Mexico Border,27/05/2017,Águilas del Desierto,Partially Verified,32.304420,-112.904651
2418,184749,Train accident,Central America & Mexico,NaN,NaN,1.0,Central America incl. Mexico,29/05/2017,Zócalo,Partially Verified,26.777611,-101.429548
2419,184750,Dehydration,Sub-Saharan Africa,"Ghana, Nigeria",NaN,44.0,North Africa,31/05/2017,IOM Niger,Verified,18.917266,12.477509

In [37]:
df['missing'] = df['missing'].ffill(axis = 0)

In [38]:
df.iloc[:30,:]['missing']

0      1.0
1      1.0
2      1.0
3      6.0
4      6.0
5      6.0
6      6.0
7      6.0
8      0.0
9      0.0
10     0.0
11     7.0
12     7.0
13     7.0
14     7.0
15     7.0
16     7.0
17     7.0
18    32.0
19     4.0
20     2.0
21     2.0
22     2.0
23     2.0
24     2.0
25     1.0
26     1.0
27     1.0
28     1.0
29     1.0
Name: missing, dtype: float64

In [39]:
df.isna().sum()

id                         0
cause_of_death           203
region_origin            443
affected_nationality    1575
missing                    0
dead                     102
incident_region           10
date                       9
source                     7
reliability              324
lat                        4
lon                        4
dtype: int64

In [62]:
df.loc[0:30, ['region_origin','affected_nationality']]

               region_origin affected_nationality
0                Middle East                 Iraq
1   Central America & Mexico             Honduras
2                Middle East                  NaN
3                       MENA                  NaN
4            South East Asia             Cambodia
5                       MENA                  NaN
6                       MENA                  NaN
7                       MENA                  NaN
8                        NaN                  NaN
9                       MENA                Syria
10                      MENA                 Iran
11                South Asia          Afghanistan
12   Middle East/ South Asia                  NaN
13                       NaN          Afghanistan
14                South Asia               Afghan
15                       NaN                  NaN
16        Sub-Saharan Africa      Likely Comorian
17   Middle East/ South Asia                  NaN
18                       NaN                  NaN
19   Middle East/ South Asia                  NaN
20   Middle East/ South Asia                  NaN
21                       NaN                  NaN
22                       NaN                  NaN
23   Middle East/ South Asia                  NaN
24   Middle East/ South Asia                  NaN
25   Middle East/ South Asia                  NaN
26                       NaN          Afghanistan
27   Middle East/ South Asia                  NaN
28   Middle East/ South Asia                  NaN
29                       NaN          Afghanistan
30   Middle East/ South Asia                  NaN

In [63]:
df.loc[:, ['region_origin','affected_nationality']] = df.loc[:, ['region_origin','affected_nationality']].ffill(axis = 1)

In [64]:
df.loc[0:30, ['region_origin','affected_nationality']]

               region_origin     affected_nationality
0                Middle East                     Iraq
1   Central America & Mexico                 Honduras
2                Middle East              Middle East
3                       MENA                     MENA
4            South East Asia                 Cambodia
5                       MENA                     MENA
6                       MENA                     MENA
7                       MENA                     MENA
8                        NaN                      NaN
9                       MENA                    Syria
10                      MENA                     Iran
11                South Asia              Afghanistan
12   Middle East/ South Asia  Middle East/ South Asia
13                       NaN              Afghanistan
14                South Asia                   Afghan
15                       NaN                      NaN
16        Sub-Saharan Africa          Likely Comorian
17   Middle East/ South Asia  Middle East/ South Asia
18                       NaN                      NaN
19   Middle East/ South Asia  Middle East/ South Asia
20   Middle East/ South Asia  Middle East/ South Asia
21                       NaN                      NaN
22                       NaN                      NaN
23   Middle East/ South Asia  Middle East/ South Asia
24   Middle East/ South Asia  Middle East/ South Asia
25   Middle East/ South Asia  Middle East/ South Asia
26                       NaN              Afghanistan
27   Middle East/ South Asia  Middle East/ South Asia
28   Middle East/ South Asia  Middle East/ South Asia
29                       NaN              Afghanistan
30   Middle East/ South Asia  Middle East/ South Asia