do interpoletion to follow order of, https://towardsdatascience.com/7-ways-to-handle-missing-values-in-machine-learning-1a6326adf79e#:~:text=Missing%20values%20can%20be%20handled,null%20can%20also%20be%20dropped.

and take content of interpolation from here, https://www.analyticsvidhya.com/blog/2021/06/power-of-interpolation-in-python-to-fill-missing-values/

In [11]:
import pandas as pd
import numpy as np
a = pd.Series([0, 1, np.nan, 3, 4, 5, 7])

In [12]:
a

0    0.0
1    1.0
2    NaN
3    3.0
4    4.0
5    5.0
6    7.0
dtype: float64

In [14]:
a.interpolate(method="polynomial", order=2, inplace = True)

In [15]:
a

0    0.00000
1    1.00000
2    1.99537
3    3.00000
4    4.00000
5    5.00000
6    7.00000
dtype: float64

In [18]:
df = pd.DataFrame({'Date': pd.date_range(start='2021-07-01', periods=10, freq='24H'), 'Value':range(10)})
df.loc[2:3, 'Value'] = np.nan

In [19]:
df

        Date  Value
0 2021-07-01    0.0
1 2021-07-02    1.0
2 2021-07-03    NaN
3 2021-07-04    NaN
4 2021-07-05    4.0
5 2021-07-06    5.0
6 2021-07-07    6.0
7 2021-07-08    7.0
8 2021-07-09    8.0
9 2021-07-10    9.0

In [20]:
df = pd.DataFrame({'Date': pd.date_range(start='2021-07-01', periods=10, freq='H'), 'Value':range(10)})
df.loc[2:3, 'Value'] = np.nan

In [21]:
df

                 Date  Value
0 2021-07-01 00:00:00    0.0
1 2021-07-01 01:00:00    1.0
2 2021-07-01 02:00:00    NaN
3 2021-07-01 03:00:00    NaN
4 2021-07-01 04:00:00    4.0
5 2021-07-01 05:00:00    5.0
6 2021-07-01 06:00:00    6.0
7 2021-07-01 07:00:00    7.0
8 2021-07-01 08:00:00    8.0
9 2021-07-01 09:00:00    9.0